In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('heart_failure_clinical_records_dataset.csv')

data.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [7]:
data.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [8]:
data1= data.drop(['age'],axis=1)

In [10]:
deathdiabetes = pd.DataFrame(data.groupby('DEATH_EVENT')['diabetes'].count())
deathdiabetes

             diabetes
DEATH_EVENT
0                 203
1                  96

In [26]:
data1.corr().style.background_gradient()

In [27]:
X = data1.iloc[:, :11]
y = data1.iloc[:, 11]

In [19]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [39]:
X_train

,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
281,0,582,0,40,0,51000.0,2.7,136,1,1,250
44,1,588,1,60,0,194000.0,1.1,142,0,0,33
241,0,582,1,30,0,249000.0,1.3,136,1,1,212
189,0,244,0,45,1,275000.0,0.9,140,0,0,174
152,0,115,0,45,1,184000.0,0.9,134,1,1,118
...,...,...,...,...,...,...,...,...,...,...,...
251,0,572,1,35,0,231000.0,0.8,143,0,0,215
192,1,121,1,40,0,260000.0,0.7,130,1,0,175
117,1,102,0,60,0,507000.0,3.2,138,0,0,94
47,0,582,1,38,1,451000.0,0.6,138,1,1,40
172,1,171,0,60,1,176000.0,1.1,145,1,1,146

In [40]:
pd.DataFrame(y_train)

     DEATH_EVENT
281            0
44             1
241            0
189            0
152            0
..           ...
251            0
192            0
117            0
47             1
172            0

[209 rows x 1 columns]

In [41]:
pd.DataFrame(y_test)

     DEATH_EVENT
206            0
188            0
12             1
219            0
237            0
..           ...
76             0
210            0
223            0
253            0
235            0

[90 rows x 1 columns]

In [42]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [45]:
list_k = []
list_acc_score = []
for k in range (2,18):
    list_k.append(k)
    model = KNeighborsClassifier(n_neighbors=k)
    model.fit(X_train,y_train)
    y_pred =  model.predict(X_test)
    score = accuracy_score(y_test,y_pred)
    list_acc_score.append(score)
    print ("With k = %d --> the accuracy is %f" %(k, score))
    print(accuracy_score(y_train, model.predict(X_train)))
datascore = pd.DataFrame(list_k,list_acc_score)
datascore.head()

With k = 2 --> the accuracy is 0.611111
0.7942583732057417
With k = 3 --> the accuracy is 0.533333
0.7703349282296651
With k = 4 --> the accuracy is 0.611111
0.7559808612440191
With k = 5 --> the accuracy is 0.577778
0.7607655502392344
With k = 6 --> the accuracy is 0.588889
0.7464114832535885
With k = 7 --> the accuracy is 0.588889
0.7464114832535885
With k = 8 --> the accuracy is 0.622222
0.6842105263157895
With k = 9 --> the accuracy is 0.588889
0.6985645933014354
With k = 10 --> the accuracy is 0.644444
0.7033492822966507
With k = 11 --> the accuracy is 0.633333
0.6985645933014354
With k = 12 --> the accuracy is 0.633333
0.6746411483253588
With k = 13 --> the accuracy is 0.600000
0.6889952153110048
With k = 14 --> the accuracy is 0.611111
0.6889952153110048
With k = 15 --> the accuracy is 0.600000
0.7033492822966507
With k = 16 --> the accuracy is 0.633333
0.6602870813397129
With k = 17 --> the accuracy is 0.644444
0.6842105263157895

          0
0.611111  2
0.533333  3
0.611111  4
0.577778  5
0.588889  6